/* Metrics & Activity Stream */
section {
    padding-bottom: 2em;
}

.wordcloud {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
}

.panelActive {
  padding: 0 0 0 1em;
}

.metrics {
  width: 100%;
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: row;
}

.metrics .literal {
  font-weight: 600;
  font-size: 1.3em;
}

.metrics .label {
  font-size: .9em;
}

.circle {
    width: 4.5em;
    height: 4.5em;
    line-height: 4.5em;
    border: 2px solid #eee;
    border-radius: 50%;
}

.act-list {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.act-list-item {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.act-list-item .fa {
    font-size: 1em;
}

.act-list-item .act-date,
.act-list-item .act-body {
    font-size: .9em;
    color: #666;
}

.act-list-item .act-title a {
    display: block;
    color: #0e5fa7;
    margin: .1rem 0;
    line-height: 1.4em;
    font-weight: 500;
    border: none;
    font-size: 1.1em;
}

.act-list-item .act-title a:hover {
    border: none;
}

.act-list-item a {
    display: inline;
    color: #2F528F;
    border-bottom: 1px dashed #ccc;
}

.act-list-item a:hover {
    border-bottom: 1px solid #333;
    text-decoration: none;
}

.act-list-item span {
    display: inline;
    color: #333;
}

.act-list-item-header {
    min-width: 3px;
    max-width: 3px;
    background: #e0e0e0;
}

.act-list-item-header .dot {
    color: #2F528F;
    background: white;
    border: 2px solid #e0e0e0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: -13px;
    text-align: center;
    line-height: 27px;
}

.act-list-item-body {
    padding-left: 1.5em;
    padding-bottom: 1.8em;
}

.act-list-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #eee;
}

.btn.btn-primary:focus {
    background-color: #2593cd;
    border-color: #2593cd;
    box-shadow: 0 0 0 2px #2593cd;
}

h3 i.fa-solid {
    color: #ccc;
    margin-right: 5px;
}