/* Metrics & Activity Stream */
section {
    padding-bottom: 2em;
}

.panelActive {
  padding: 0 0 0 1em;
}

.metrics {
  width: 100%;
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: row;
}

.metrics .literal {
  font-weight: 600;
  font-size: 1.3em;
}

.metrics .label {
  font-size: .9em;
}

.circle {
    width: 4.5em;
    height: 4.5em;
    line-height: 4.5em;
    border: 2px solid #eee;
    border-radius: 50%;
}

.act-list {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.act-list-item {
    display: flex;
    flex-direction: row;
}

.act-list-item .fa {
    font-size: .9em;
}

.act-list-item .act-date,
.act-list-item .act-body {
    font-size: .9em;
}

.act-list-item .act-title a {
    display: block;
    color: #007BBE;
    margin: .1rem 0;
    line-height: 1.3em;
    font-weight: 500;
}

.act-list-item span {
    display: inline;
    color: #2F528F;
}

.act-list-item-header {
    min-width: 3px;
    max-width: 3px;
    background: #e0e0e0;
}

.act-list-item-header .dot {
    background: white;
    border: 2px solid #e0e0e0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: -6px;
}

.act-list-item-body {
    padding-left: 1em;
    padding-bottom: 1.5em;
}