@media (min-width: 992px)
{
    .w-lg-50 {
        width: 50% !important;
    }
}

/* Metrics & Activity Stream */
section {
    padding-bottom: 2em;
}

.panelActive {
  padding: 0 0 0 1em;
}

.metrics {
  width: 100%;
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: row;
}

.metrics .literal {
  font-weight: 600;
  font-size: 1.3em;
  color: #183c55;
}

.metrics .label {
  font-size: .9em;
}

.circle {
    width: 4.5em;
    height: 4.5em;
    line-height: 4.5em;
    border: 1px solid #eee;
    border-radius: 50%;
}

.activities {
  max-width: 600px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.act {
  margin-bottom: 10px;
  padding: 0 0 8px;
  clear: left;
  min-height: 48px;
}

.act-body {
  display: flex;
  flex-direction: row;
}

.act-userdate .date {
  color: #506380;
  font-size: 12px;
  overflow: hidden;
}

.act-image {
  display: block;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px 10px;
  background-image: url("/Profile/Images/person-default.svg");
  background-size: contain;
  position: relative;
  padding: 0;
}

.act-image a {
  display: block;
  width: 100%;
  height: 100%;
}

.act-image img {
  width: 32px;
  height: 32px;
  position: relative;
  top: -2px;
  left: -2px;
}

.panelMain .activities {
  margin-top: 30px;
}

.panelMain .act-heading {
  display: none;
}

.act-heading-live-updates {
  font-weight: 600;
  margin-bottom: 10px;
}
