<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Template.master.cs" Inherits="Profiles.Framework.Template"
EnableViewState='true' %> <%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head id="Head1" runat="server">
    <title>Profiles RNS</title>

    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/Framework/Assets/boostrap-4.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Framework/Assets/boostrap-icons-1.7/bootstrap-icons.css" />
    <link rel="stylesheet" href="/Framework/Assets/fontawesome-6.2.0/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/Framework/Assets/fontawesome-6.2.0/css/regular.min.css" />
    <link rel="stylesheet" href="/Framework/Assets/fontawesome-6.2.0/css/solid.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    
    <script type="text/javascript" src="/Framework/Assets/boostrap-4.0/js/jquery-3.3.1.min.js"></script>

    <!-- GDPR Cookie Banner -->
	  <link rel="stylesheet" href="/Framework/Assets/cookie-banner/cookie-banner.css">

    <asp:ContentPlaceHolder ID="head" runat="server"> </asp:ContentPlaceHolder>
  </head>

  <body runat="server">
    <!--
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PXSD37"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    -->
    <!--<form runat="server" id="form1" enctype="multipart/form-data" method="post">-->
    <!--<asp:ToolkitScriptManager
        AsyncPostBackTimeout="3600"
        EnablePartialRendering="true"
        CombineScripts="false"
        EnableViewState="true"
        ID="toolkitScriptMaster"
        runat="server"
      />

    <!--
      <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
          i["GoogleAnalyticsObject"] = r;
          (i[r] =
            i[r] ||
            function () {
              (i[r].q = i[r].q || []).push(arguments);
            }),
            (i[r].l = 1 * new Date());
          (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m);
        })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");
        ga("create", "UA-5308116-1", ".catalyst.harvard.edu");
        ga("create", "UA-59825751-1", ".catalyst.harvard.edu", { name: "b" });
        ga("send", "pageview");
        ga("b.send", "pageview");
      </script>
    -->
      <div class="container header-container">
        <h1 class="d-none d-sm-block">
          <a title="Go to Next Generation Sequencing Competence Network frontpage" href="/">Next Generation Sequencing <span>Competence Network</span></a>
        </h1>
        <h1 class="d-block d-sm-none">
          <a title="Go to Next Generation Sequencing Competence Network frontpage" href="/">NGS-<span>Competence Network</span></a>
        </h1>
      </div>
      <div class="container py-2">
        <div class="profilesHeader" runat="server" id="divProfilesHeader">
          <div class="panelHeader">
            <asp:ContentPlaceHolder ID="ContentHeader" runat="server">
              <asp:Repeater runat="server" ID="rptHeader" OnItemDataBound="DrawModule">
                <ItemTemplate>
                  <asp:PlaceHolder ID="phHeader" runat="server"></asp:PlaceHolder>
                </ItemTemplate>
              </asp:Repeater>
            </asp:ContentPlaceHolder>
          </div>
        </div>
        <asp:ContentPlaceHolder ID="ContentActive" runat="server">
          <asp:Repeater runat="server" ID="rptActive" OnItemDataBound="DrawModule">
            <ItemTemplate>
              <asp:PlaceHolder ID="phActive" runat="server"></asp:PlaceHolder>
            </ItemTemplate>
          </asp:Repeater>
        </asp:ContentPlaceHolder>
        <div id="ProfilesNotification" visible="false" runat="server" style="margin-top: 8px; font-weight: 600">
          <asp:Literal runat="server" ID="litSystemNotice"></asp:Literal>
        </div>
        <div class="profilesPage">
          <a
            onclick="javascript:topFunction();"
            id="rtnBtn"
            title="Go to top"
            tabindex="999"
          >
            <i class="fa fa-arrow-up"></i>
          </a>
          <div id="profilesMainRow" class="row">
            <div id="divProfilesContentMain" class="col-md-8" runat="server">
              <div id="divTopMainRow" style="width: 100%" runat="server">
                <asp:Literal runat="server" ID="litPageTitle"></asp:Literal>
              </div>
              <asp:Literal runat="server" ID="litPageSubTitle"></asp:Literal>
              <div class="backLink">
                <asp:Literal runat="server" ID="litBackLink"></asp:Literal>
              </div>
              <div class="pageDescription">
                <asp:Literal runat="server" ID="litPageDescription"></asp:Literal>
              </div>
              <div class="prns-screen-search" id="prns-content">
                <div class="content-main">
                  <asp:Literal runat="server" ID="litTabs"></asp:Literal>
                </div>
              </div>
              <div class="panelMain">
                <asp:ContentPlaceHolder ID="ContentMain" runat="server">
                  <asp:Repeater runat="server" ID="rptMain" OnItemDataBound="DrawModule">
                    <ItemTemplate>
                      <asp:PlaceHolder ID="phMain" runat="server"></asp:PlaceHolder>
                    </ItemTemplate>
                  </asp:Repeater>
                </asp:ContentPlaceHolder>
              </div>
            </div>
            <div class="profilesContentPassive col-md-4">
              <div id="divContentLeft" runat="server" class="mb-3">
                <asp:ContentPlaceHolder ID="Contentleft" runat="server">
                  <asp:Repeater runat="server" ID="rptLeft" OnItemDataBound="DrawModule">
                    <ItemTemplate>
                      <asp:PlaceHolder ID="phLeft" runat="server"></asp:PlaceHolder>
                    </ItemTemplate>
                  </asp:Repeater>
                </asp:ContentPlaceHolder>
              </div>
              <div>
                <asp:ContentPlaceHolder ID="ContentPassive" runat="server">
                  <asp:Repeater runat="server" ID="rptPassive" OnItemDataBound="DrawModule">
                    <ItemTemplate>
                      <asp:PlaceHolder ID="phPassive" runat="server"></asp:PlaceHolder>
                    </ItemTemplate>
                  </asp:Repeater>
                </asp:ContentPlaceHolder>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%--Catalyst Footer--%>
      <div style="margin-top: 32px" id="catfooter"><%--<uc:CatalystAsset runat="server" AssetType="3" />--%></div>
    <!--</form>-->
    <div class="container">
      <div class="footer">
        <div class="text-center">
          <a href="https://ngs-kn.de/" target="_blank" class="ml-md-auto">
            © 2022 Next Generation Sequencing Competence Network <span class="text-nowrap">(NGS-CN)</span>
          </a> |
          <b><a href="/about/default.aspx?tab=imprint">Impressum</a></b> |
          <b><a href="/about/default.aspx?tab=privacy">Privacy</a></b>
        </div>

        <div class="logo-container d-flex flex-column flex-md-row justify-content-center align-items-center">
          <a href="https://www.ccga.uni-kiel.de" target="_blank">
            <img class="logo" src="/Framework/Assets/images/logo-ccga.png" alt="Competence Center for Genomic Analysis (CCGA) Kiel"/>
          </a>
          <a href="https://genomecenter.tu-dresden.de/about-us" target="_blank">
            <img class="logo" src="/Framework/Assets/images/logo-dresden-concept-gc.png" alt="Dresden Concept Genome Center" />
          </a>
          <a href="https://portal.qbic.uni-tuebingen.de/portal/web/ncct/ncct_welcome" target="_blank">
            <img class="logo" src="/Framework/Assets/images/logo-ncct.png" alt="NGS Competence Center Tübingen"/>
          </a>
          <a href="https://wggc.de/" target="_blank">
            <img class="logo" src="/Framework/Assets/images/logo-west-german-gc.png" alt="West German Genome Center" />
          </a>
        </div>
      </div>
    </div>

  <div class="cookie-banner text-center mb-0" role="alert">
	  <span>
      <i class="fa fa-info"></i> We use cookies to ensure you get the best experience on our website. <a href="/about/default.aspx?tab=privacy#cookies">Privacy Policy</a>
    </span>

	  <button type="button" class="btn btn-primary btn-sm" onclick="window.hideCookieBanner()">
	    Accept
	  </button>
	</div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/Framework/Assets/boostrap-4.0/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#page-container a").css("cursor", "pointer");
        $(".title-container").css("cursor", "pointer");
        $(".title-container").hover(function () {
          $(".title-container").css("opacity", ".5");
        });

        $(".questionImage").on("click", function (event) {
          event.stopPropagation();
          event.stopImmediatePropagation();
          $(this).parent().siblings(".passiveSectionHeadDescription").toggle();
          event.preventDefault();
        });

        $('input[type="text"]').on("focusout", function (event) {
          $(this).val($.trim($(this).val()));
          return true;
        });

        if ($(".panelPassive").text().trim().length == 0) {
          $(".panelPassive").remove();
        }
        if ($(".profilesContentPassive").text().trim().length == 0) {
          $(".profilesContentPassive").remove();
        }
        if ($(".content-main").text().trim().length == 0) {
          $(".content-main").remove();
        }
        if ($(".prns-screen-search").text().trim().length == 0) {
          $(".prns-screen-search").remove();
        }
        if ($(".profilesHeader").text().trim().length == 0) {
          $(".profilesHeader").remove();
        }
        if ($(".panelHeader").text().trim().length == 0) {
          $(".panelHeader").remove();
        }
      });

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
          document.getElementById("rtnBtn").style.display = "block";
        } else {
          document.getElementById("rtnBtn").style.display = "none";
        }
        return true;
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        $("body,html").animate({ scrollTop: 0 }, 500);
        return true;
      }

      $(document).ready(function () {
        $(".lnk-edit-arrow").on("click", function () {
          var img = $(this).find("img");
          var current = img.attr("src");
          var newsrc = img.attr("data-swap");
          $("#" + $(this).attr("data-item")).toggle();
          img.attr("src", newsrc).attr("data-swap", current);
        });
      });
    </script>

    <!-- jQuery cookie banner. -->
    <script async src="/Framework/Assets/cookie-banner/cookie-banner.js"></script>

    <%="<script type=\"text/javascript\">"%>
    <asp:Literal runat="server" ID="litJS"></asp:Literal>
    <%="< /script>"%>
  </body>
</html>
