.dropdown-toggle.dropdown-no-indicator::after {
  display: none;
}

#prns-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#prns-nav > a {
  color: #2f528f;
  display: block;
  text-decoration: none;
  font-size: 14px;
  height: 48px;
  min-width: 48px;
  line-height: 48px;
  text-align: center;
}

#prns-nav a {
  border: none; 
}

#prns-nav a:hover {
  color: #36a4de;
}

#prns-nav a:focus {
  outline: 1px dotted
}

.badge {
  font-size: 11px;
  background: #2f528f;
  color: white;
  border-radius: 8px;
  margin: 5px;
  min-width: 16px;
}

#prns-minisearch {
  transition: all ease-in-out 0.2s;
  background-color: #eee;
  border: 1px solid #eee;
  color: #666;
  border-radius: 30px;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}

#prns-minisearch,
#prns-minisearch .fa-search {
  line-height: 40px;
}

#prns-minisearch:hover {
  border: 1px solid #ccc;
  box-shadow: 0 5px 6px rgba(0,0,0,.1);
}

#prns-minisearch:focus-within {
  border: 1px solid #36a4de;
  background-color: #fff;
  color: #000;
  box-shadow: 0 5px 6px rgba(0,0,0,.1);
}

#prns-minisearch:focus-within .fa-search {
  color: #36a4de;
}

#prns-minisearch .fa-search {
  color: #666;
  font-size: 20px;
  padding: 0 10px;
}

#prns-minisearch > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #666;
  min-width: 60px;
}

#prns-minisearch > a:hover {
  background: rgba(0, 0, 0, 0.06);
  cursor: pointer;
  text-decoration: none;
}

#prns-minisearch > a:hover .badge {
  background: #36a4de;
}

#prns-minisearch > a:focus {
  background: rgba(0, 0, 0, 0.06);
}

#prns-minisearch > a .fa-solid {
  font-size: 16px;
}

.search-container {
  /* color: #222; */
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding: 0 0 0 10px;
  width: 100%;
  height: 100%;
}

.search-container input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}

.search-container input:focus {
  outline: none;
}

/****************** sub menu (logged on) ******************/

#prns-nav ul.usermenu {
  background: #ccc;
  height: 33px;
  margin-bottom: 15px;
}

#prns-nav ul.usermenu li {
  float: left;
  background: #dcdada !important;
}

#prns-nav ul.usermenu li a {
  display: inline-block;
  background: #ccc;
  padding: 7px 12px;
  text-decoration: none;
  transition: 0.2s;
  font-size: 13px;
  color: #333;
}

#prns-nav ul.prns-main ul.usermenu li a {
  height: 32px;
}

#prns-nav ul.usermenu li div.divider {
  width: 0;
  border-left: 1px solid #999;
  height: 30px;
}

#prns-nav ul.usermenu ul.menu-drop a {
  display: inline-block;
  background: #dcdada !important;
  text-align: left;
  padding: 12px 18px;
  text-decoration: none;
  transition: 0.2s;
  line-height: 13px;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}

.menu-toggle {
  cursor: pointer;
}

#prns-help {
  min-width: 5em;
  margin-left: 15px;
}

#prns-nav ul.usermenu li:hover > a,
#prns-nav ul.usermenu li.selected > a,
#prns-nav ul.usermenu li ul.menu-drop li:hover {
  background: #7c7b7b !important;
  color: #fff !important;
}

#prns-nav ul.usermenu li:hover ul.menu-drop,
#prns-nav ul.usermenu li.selected ul.menu-drop {
  display: block !important;
}

.sublanded {
  background: #7c7b7b !important;
  color: #fff !important;
}

#prns-usrnav.user .loginbar,
#prns-usrnav.pub .usermenu,
#prns-usrnav .loginbar {
  display: none;
}

@media (min-width: 768px) {
  #prns-minisearch {
    max-width: 500px;
  }

  #advanced-search-tabs {
    padding-left: 5px;
  }
}

#prns-search-advanced .nav-link.disabled {
  color: #666;
}

#prns-search-advanced .nav-item button {
  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  margin-right: 2px;
  color: #666;
}

#prns-search-advanced .nav-item button:hover,
#prns-search-advanced .nav-item button.active {
  background: transparent;
  color: #36a4de;
  border-bottom: 2px solid #36a4de;
  cursor: pointer;
}

#prns-search-advanced .nav-item button i.fa-solid {
  margin-right: 4px;
}

#prns-search-advanced .nav-item button::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

#advanced-search-content .tab-pane {
  background: #fafafa;
  border-bottom: 1px solid #eee;
}

#advanced-search-content .tab-pane form {
  padding: 1.5em;
  max-width: 800px;
}

#advanced-search-content .tab-pane form label {
  font-weight: 500;
}

#advanced-search-content .tab-pane form label.form-check-label {
  font-weight: 400;
}

#advanced-search-content .tab-pane form a {
  text-decoration: none;
  border: 0;
}

#advanced-search-content .tab-pane form .form-control-subline {
  margin-top: 0.5em;
  text-align: right;
}

#advanced-search-content .tab-pane form .form-control-subline label {
  font-weight: normal;
  color: inherit;
}

#advanced-search-content .tab-pane form input[type="text"]{
  padding-left: .5em;
}

#advanced-search-content .tab-pane form input[type="text"],
#advanced-search-content .tab-pane form select {
  width: 100% !important;
}

#advanced-search-content .tab-pane form input[type="checkbox"] {
  margin-right: 0.5em;
}

#advanced-search-content .tab-pane form .search-button {
  transition: all ease-in-out 0.2s;
  display: inline-block;
  color: #ffffff;
  padding: 0.6em 1em;
  background-color: #2f528f;
  border: 2px solid #2f528f;
  line-height: 16px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

#advanced-search-content .tab-pane form .search-button .fa {
  font-size: 16px;
  margin: 0 0.5em 0 0;
}

#advanced-search-content .tab-pane form .search-button:focus {
  text-decoration: none;
  border: 2px solid #36a4de;
}

#advanced-search-content .tab-pane form .search-button:hover {
  text-decoration: none;
  background: #36a4de;
  border-color: #36a4de;
}

#advanced-search-content .tab-pane form .search-button[disabled] {
  cursor: not-allowed;
  background: #eee;
  border-color: #eee;
  color: #666;
}
