#prns-nav nav {
  display: flex;
  flex-direction: column-reverse;
}

#prns-nav .prns-main {
  display: flex;
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  overflow: hidden;
}

#prns-nav .prns-main.primary,
#prns-nav .prns-main.secondary {
  background: transparent;
  font-weight: 500;
  overflow: visible;
  border-bottom: 2px solid #eee;
}

#prns-nav .prns-main.secondary {
  margin-bottom: 0;
}

#prns-nav .prns-main > li {
  height: 48px;
  background: transparent;
  position: relative;
}

#prns-nav .prns-main li {
  text-overflow: ellipsis;
}

#prns-nav .prns-main .badge {
  font-size: .8em;
  background: #007BBE;
  color: white;
  border-radius: 50%;
  margin: 5px;
}

#prns-nav .prns-main .item-search {
  width: 100%;
}

#prns-nav .prns-main li a {
    color: #2F528F;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    height: 48px;
    min-width: 48px;
    line-height: 48px;
    padding: 0 1em;
    border: 2px solid transparent;
}

#prns-nav .prns-main.prns-main.primary:hover {
  border: 2px solid #ccc;
}

#prns-nav .prns-main.prns-main.primary:focus-within {
  border: 2px solid #36A4DE;
  background-color: #fff;
  color: #000;
}

#prns-nav .prns-main.prns-main.primary:focus-within .fa,
#prns-nav .prns-main.prns-main.primary:hover .fa {
  color: black;
}

#prns-nav .prns-main.prns-main.primary li > a {
  border-radius: 30px;
  color: #666;
}

#prns-nav .prns-main.primary {
  transition: all ease-in-out .2s;
  background-color: #eee;
  border: 2px solid #eee;
  color: #666;
  border-radius: 30px;
}

#prns-nav .prns-main > li a {
  border: 2px solid transparent;
  outline: none;
}

#prns-nav .prns-main > li a:focus {
  border: 2px solid #36A4DE;
}

#prns-nav ul.prns-main li.landed > a {
  border-bottom: 2px solid #007BBE;
  color: #007BBE;
}

#prns-nav ul.prns-main > li a:hover {
    border-radius: 5px;
    border: 2px solid #ccc;
}

#prns-nav ul.prns-main li.icon {
  display: none;
}

#prns-nav .prns-main.secondary .fa {
  font-size: 20px;
}

#prns-nav ul.menu-drop {
  display: none;
  position: absolute;
  text-align: left;
  z-index: 40000;
  list-style-type: none;
  padding: 0;
  margin-top: -2px;
}

#prns-nav ul.menu-drop.align-right {
  right: 0;
}

#prns-nav ul.menu-drop li {
  float: none !important;
  position: relative;
}

#prns-nav ul.menu-drop li.landed > a {
  background: #1d4866;
  border-bottom: 0;
  border-left: 2px solid #36A4DE;
  color: white;
  font-weight: 500;
}

#prns-nav ul.menu-drop li a {
  background: #0056b3;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1em;
  border: 2px solid transparent;
  font-weight: 400;
}

#prns-nav ul.menu-drop li a:hover,
#prns-nav ul.menu-drop li a:focus {
  background: #007BBE;
}

#prns-nav ul.menu-drop li a:focus {
  outline: none;
  border: 2px solid #36A4DE;
}

#prns-nav ul.menu-drop.align-right li a {
  padding: 0 2em 0 1em;
}

#search-drop ul.menu-drop li a {
  background: #0056b3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li#search-drop a:hover,
#search-drop ul.menu-drop li:hover,
#prns-nav ul.menu-drop li a:hover {
  background: #007BBE;
  color: white;
}

.search-container {
  /* color: #222; */
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding: 0 0 0 10px;
  width: 100%;
  height: 100%;
}

.search-container input {
  background-color: transparent;
  border: none;
  margin-top: -3px;
  width: 100%;
  height: 100%;
  outline: none;
}

.search-container input:focus {
  outline: none;
}

#prns-nav .prns-main .fa.fa-search {
  color: #666;
  font-size: 20px;
  padding: 0 10px;
}

/****************** sub menu (logged on) ******************/

#prns-nav ul.usermenu {
  background: #ccc;
  height: 33px;
  margin-bottom: 15px;
}

#prns-nav ul.usermenu li {
  float: left;
  background: #dcdada !important;
}

#prns-nav ul.usermenu li a {
  display: inline-block;
  background: #ccc;
  padding: 7px 12px;
  text-decoration: none;
  transition: 0.2s;
  font-size: 13px;
  color: #333;
}

#prns-nav ul.prns-main ul.usermenu li a {
  height: 32px;
}

#prns-nav ul.usermenu li div.divider {
  width: 0;
  border-left: 1px solid #999;
  height: 30px;
}

#prns-nav ul.usermenu ul.menu-drop a {
  display: inline-block;
  background: #dcdada !important;
  text-align: left;
  padding: 12px 18px;
  text-decoration: none;
  transition: 0.2s;
  line-height: 13px;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}

.menu-toggle {
  cursor: pointer;
}

#prns-nav ul.usermenu li:hover > a,
#prns-nav ul.usermenu li.selected > a,
#prns-nav ul.usermenu li ul.menu-drop li:hover {
  background: #7c7b7b !important;
  color: #fff !important;
}

#prns-nav ul.usermenu li:hover ul.menu-drop,
#prns-nav ul.usermenu li.selected ul.menu-drop {
  display: block !important;
}

.sublanded {
  background: #7c7b7b !important;
  color: #fff !important;
}

#prns-usrnav.user .loginbar,
#prns-usrnav.pub .usermenu,
#prns-usrnav .loginbar {
  display: none;
}

@media (min-width: 768px) {
  .search-container {
    width: 100%;
    min-width: 400px;
  }

  #prns-nav nav {
    flex-direction: row;
  }

  #prns-nav .prns-main.primary {
    min-width: fit-content;
  }

  #prns-nav .prns-main.primary > li.landed a {
    height: 52px;
  }

  #prns-nav .prns-main.secondary {
    margin-left: 2px;
    width: 100%;
    margin-bottom: 2em;
  }
}
